target/
logs/
solution.txt
*_stats*.csv
new_prompt.md
ark_kepler_*.txt
ark_conserved_exp_entropy_ark.txt
ark_conserved_exp_entropy_erk.txt
ark_dissipated_exp_entropy.txt
heat1D.txt
heat_mesh.txt
bruss_mesh.txt
bruss_u.txt
bruss_v.txt
bruss_w.txt
bruss1D_mesh.txt
bruss1D_u_*.txt
bruss1D_v_*.txt
bruss1D_w_*.txt
ark_onewaycouple_mri_solution.txt
ark_reaction_diffusion_mri_slow_stats.csv
ark_reaction_diffusion_mri_fast_stats.csv
ark_kpr_mri_solution.txt
cvsRoberts_FSA_dns_stats*.csv
cvsPendulum_dns_ref.txt
cvsPendulum_dns_rtol_*.txt
cvsRoberts_ASAi_dns_*_stats.csv
ark_twowaycouple_mri_solution.txt
